
<div class="ccard col">
    <a href="{{ action ?? '#' }}">
        <div class="card bg-transparent">
            <div class="card-body">
                <h5 class="card-title">
                    {% if title is defined %}
                        {{ title }}
                    {% endif %}
                </h5>
                <p class="card-text">
                    {% if content is defined %}
                        {{ content }}
                    {% endif %}
                </p>
                <a href="{{ action ?? '#' }}" class="btn btn-primary text-white mt-3">
                    {% if label is defined %}
                        {{ label }}
                    {% endif %}
                </a>
            </div>
        </div>
    </a>
</div>