{% trans_default_domain 'templates' %}

<div class="col-md-3 m-4 p-3 h-25 mh-25 dropdown-menu-nav" id="navbar">
    <a href="{{ path('dashboard') }}" class="dropdown-item pb-2">{{ "sidebar.dashboard" | trans }}</a>

    <div class="dropdown-item pb-2">{{ "sidebar.notebook" | trans }}</div>
    <div class="dropdown-item pb-2">{{ "sidebar.activities" | trans }}</div>
    <div class="dropdown-item pb-2">{{ "sidebar.school-reports" | trans }}</div>
    <div class="dropdown-item pb-2">{{ "sidebar.pupils" | trans }}</div>
    <div class="dropdown-item pb-2">{{ "sidebar.classes" | trans }}</div>

    {% if app.user.firstRoleMatch(['ROLE_ADMIN', 'ROLE_IMPLANTATION_LIST_ALL', 'ROLE_IMPLANTATION_EDIT','ROLE_IMPLANTATION_CREATE','ROLE_IMPLANTATION_DELETE']) %}
        <a href="{{ path('implantations') }}" class="dropdown-item pb-2">{{ "sidebar.implantations" | trans }}</a>
    {% endif %}

    {% if app.user.firstRoleMatch(['ROLE_USER_LIST_ALL', 'ROLE_USER_CREATE', 'ROLE_USER_EDIT', 'ROLE_USER_DELETE']) %}
        <a href="{{ path('users_index') }}" class="dropdown-item">{{ "sidebar.users" | trans }}</a>
    {% endif %}
</div>