<div class="modal right fade in" id="modal-right-implantation-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="modal-right">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="float-left">{{ 'implantations.title.edit' | trans({}, 'forms') }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row mt-3">
                        <div class="col">
                            {# The school name #}
                            {{ form_label(form.name, 'implantations.label.name') }}
                            {{ form_widget(form.name, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            {# The implantation address #}
                            {{ form_label(form.address, 'implantations.label.address') }}
                            {{ form_widget(form.address, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            {# The implantation zip code #}
                            {{ form_label(form.zipCode, 'implantations.label.zip-code') }}
                            {{ form_widget(form.zipCode, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="col">
                            {# The implantation country #}
                            {{ form_label(form.country, 'implantations.label.country') }}
                            {{ form_widget(form.country, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3 p-1">
                        <div class="col">
                            {# Submit button #}
                            {{ form_row(form.submit, {'label': 'common.send' ,
                                'attr': {'class': 'btn btn-primary'}
                            }) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
</div>