<div class="modal right fade in" id="modal-right-user-edit-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="modal-right">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="float-left">{{ 'user.title.edit' | trans({}, 'forms') }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                {% if form is defined %}
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row mt-3">
                        <div class="col-md-6">
                            {# The user first name #}
                            {{ form_label(form.firstName, 'user.label.first-name') }}
                            {{ form_widget(form.firstName, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {# The user last name #}
                            {{ form_label(form.lastName, 'user.label.last-name') }}
                            {{ form_widget(form.lastName, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            {# The user mail address #}
                            {{ form_label(form.email, 'user.label.email') }}
                            {{ form_widget(form.email, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            {# The user password #}
                            {{ form_label(form.password.first, 'user.label.password') }}
                            {{ form_widget(form.password.first, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.password.second, 'user.label.password-repeat', {
                                'label_attr': {'class': 'font-italic'}
                            }) }}
                            {{ form_widget(form.password.second, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="col-md-4">
                            {# The user active state #}
                            {{ form_label(form.active, 'user.label.is-active') }}
                            {{ form_widget(form.active, {
                                'attr' : {'class': 'form-control'}
                            }) }}
                        </div>
                    </div>

                    <div class="row mt-4 p-1">
                        <div class="col">
                            {# Submit button #}
                            {{ form_row(form.submit, {'label': 'common.send',
                                'attr': {'class': 'btn btn-primary'}
                            }) }}
                        </div>
                    </div>
                    {{ form_end(form) }}

                {% endif %}
            </div>

        </div>
    </div>
</div>