<div class="modal right fade in" id="modal-right-roles-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="modal-right">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="float-left">{{ 'user.title.roles-choose' }}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                    {{ form_start(form) }}

                    {% for group_label, options in form.roles.vars.choices %}
                        <h4>{{ ('common.' ~ group_label) | trans({}, 'forms') }}</h4>
                        {% for key, choice in options %}
                            <div class="form-check">
                                <input type="checkbox" id="{{ form.vars.name }}_roles_{{ key }}" name="{{ form.vars.name }}[roles][]"
                                       class="form-check-input" value="{{ choice.value }}" {{ (choice.value in form.roles.vars.value) ? 'checked' : '' }}>

                                <label class="form-check-label" for="{{ form.vars.name }}_roles_{{ key }}">{{ choice.label | trans({}, 'forms') }}</label>
                            </div>
                            {% endfor %}
                    {% endfor %}
                    {% do form.roles.setRendered() %}

                    {# Submit button #}
                    {{ form_row(form.submit, {
                        'label': 'common.send',
                        'attr': {'class': 'btn btn-primary'}
                    }) }}

                    {{ form_end(form) }}
                </p>
            </div>

        </div>
    </div>
</div>