{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block title %}{{ 'users.title.list' | trans }}{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">{{ 'users.th.id' | trans }}</th>
            <th scope="col">{{ 'users.th.first-name' | trans }}</th>
            <th scope="col">{{ 'users.th.last-name' | trans }}</th>
            <th scope="col">{{ 'users.th.email' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'users.not-found' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}